---
import Layout from '~/layouts/Layout.astro';
import ReleaseChannels from '~/components/projects/ReleaseChannels';
import Project from '~/components/projects/Project';
import BuildList from '~/components/projects/builds/BuildList.astro';

// const res = await fetch('/api/projects').then((res) => res.json());
const project = {
	name: 'Slimefun4',
	description: 'A unique Spigot/Paper plugin that looks and feels like a modpack. '
		+ `We've been giving you backpacks, jetpacks, reactors and much more since 2013.`,
	github: 'https://github.com/Slimefun/Slimefun4',
	wiki: 'https://github.com/Slimefun/Slimefun4/wiki',
	downloads: 3000,
	supportedVersions: '1.16+',
	dependencies: ['China', 'Panda', 'Paper'],
	repoLink: 'https://github.com/Slimefun4',
} as Project;

const selectedChannel = 'Dev';
---

<Layout>
	<main class='md:w-4/5 md:m-auto'>
		<Project project={project} />

		<ReleaseChannels
			project={project}
			selected={selectedChannel}
			defaultReleaseChannel='Dev'
			releaseChannels={['Dev', 'RC']}
		/>

		<BuildList project={project} releaseChannel={selectedChannel} />
	</main>
</Layout>
